doctrine:
    driver: pdo_sqlite
    path: %tempDir%/sqlite.db
    metadata:
        VenneTests\Bridges\Kdyby\Doctrine\DataTransfer: %appDir%

dataTransfer:
	driver: Venne\Bridges\Kdyby\Doctrine\DataTransfer\EntityDriver
